.board {
  position: relative;
  user-select: none;
}

@media (hover: hover) and (pointer: fine) {
  .board {
    cursor: pointer;
  }
}

.board > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.info-panel {
  display: flex;
}

.corner > * {
  position: absolute;
}
