* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* background-color: #333; */
}

.screen {
  width: min(100%, calc(100vh * (1 / 2)));
  height: min(100%, calc(100vw * (2 / 1)));
  background-color: #eee;
}

.info-panel {
  height: 16.67%; /* 2/12ths of the screen height */
  background-color: #f4f4f4;
}

.board-regular {
  height: 66.67%; /* 8/12ths of the screen height */
  background-color: #e0e0e0;
}

.board-duel {
  height: calc((15 / 24) * 100%);
  background-color: #e0e0e0;
}

.score-bar {
  height: calc((1 / 24) * 100%);
  background: linear-gradient(65deg, darkcyan 50%, firebrick 50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
}

.score-bar .score img {
  height: 60%;
}

.captain-skill img {
  height: 100%;
}

.score {
  width: 15%;
  aspect-ratio: 2.5 / 1;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.score.blue {
  background-color: mediumblue;
  color: lightskyblue;
}

.score.red {
  background-color: maroon;
  color: crimson;
}

.captain-skill {
  width: 7%;
  aspect-ratio: 1;
  background-color: grey;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.side-panel {
  height: 100%;
  max-width: calc(100vh * (1 / 2));
  flex-grow: 1;
  background-color: #000;
}

.action-panel {
  height: 8.33%; /* 1/12th of the screen height */
  background-color: #ccc;
}

.status-bar {
  height: 8.33%; /* 1/12th of the screen height */
  background-color: #bbb;
}

.skill-line {
  height: 25%;
  padding-top: 5%;
  display: flex;
  align-items: center;
}

.skill-line > img {
  width: 15%;
  margin-right: 5%;
}

.skill-icons {
  display: flex;
}

.skill-icons > * {
  width: 15%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: -3%;
}

.skill-icons > *:first-child {
  margin-left: 0;
}

.skill-icons > .no-skill {
  background-color: darkslategrey;
  border-radius: 100%;
  aspect-ratio: 1;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 10px;
}
